*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(largest) {
    font-size: 75%;
  }

  @include respond(medium) {
    font-size: 56.25%;
  }

  @include respond(small) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

.container {
  display: grid;

  // 1140px / 6 = 190 = 19rem
  grid-template-columns:
    [full-start]
    minmax(3rem, 1fr)
    [center-start]
    repeat(6, [col-start] minmax(min-content, 19rem) [col-end])
    [center-end]
    minmax(3rem, 1fr)
    [full-end];

  grid-template-rows: min-content minmax(85vh, min-content) min-content;
  align-items: center;
}
