$color-blue: #5243c2;
$color-red: #ff4d4f;
$color-orange: #f58f56;

$color-black: #1f2939;
$color-white: #fff;

$color-grey-dark: #949ba6;
$color-grey-light-1: #f5f5ff;
$color-grey-light-2: #f0f7fa;

$anim-duration: 0.3s;
