.burger {
  position: relative;
  width: 500px;
  height: 500px;
  z-index: -10000;

  &__ingredient {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    transition: all 0.3s;

    &--new {
      animation: drop 0.3s ease-in-out;
    }

    &--delete {
      animation: shiftLeft 0.3s ease-in-out;
    }

    &--top {
      margin-bottom: -5%;
    }
  }
}

.ingredients {
  display: flex;
  gap: 20px;
  margin-block: 10px;
}
