.burger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 500px;
  height: 500px;
  z-index: -10000;

  &__ingredient {
    margin-bottom: -25%;
    width: 100%;
    transition: all 0.3s;

    &--new {
      animation: drop 0.3s ease-in-out;
    }

    &--delete {
      animation: shiftLeft 0.3s ease-in-out;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ingredients {
  display: flex;
  gap: 20px;
  margin-block: 10px;
}
