.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  width: 12rem;
  border: 1px solid $color-grey-light-2;
  border-radius: 2rem;
  font-weight: 600;

  &__img-box {
    height: 4rem;
    display: flex;
    align-items: center;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__btn {
    @extend %btn-ingredient;
  }

  &__title {
    text-transform: capitalize;
  }
}
