.footer {
  grid-column: center-start / center-end;

  display: flex;
  align-items: end;
  padding-block: 1.5rem;
  gap: 3rem;
  height: 10rem;

  @include respond(medium) {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__copyright {
    color: $color-grey-dark;
  }

  &__policies {
    display: flex;
    gap: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      color: $color-blue;
      text-decoration: none;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: darken($color-blue, 20%);
    }

    &:first-child:after {
      content: "|";
      margin-left: 1rem;
    }
  }

  &__payments {
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 1rem;

    @include respond(medium) {
      margin: 0;
    }

    svg {
      width: 4rem;
      aspect-ratio: 1;
    }
  }
}
